@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Bebas+Neue&family=Kanit:wght@300&family=Orelega+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: green;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 150%;
    font-weight: 400;
}

button:hover {
    background-color: lightgreen;
}

#logo {
    font-family: 'orelega one', cursive;
    font-size: 200%;
    right: 50%;
    background-color: darkgreen;
    height: auto;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 5px white;
    letter-spacing: 4px;
    border-bottom: black 2px solid;
}

#logo h1 {
    padding-top: 10px;
}

#playing-area {
    margin: 10px;
    width: auto;
    height: auto;
    border: black 4px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player-area {
    border: black 2px dotted;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player-area p {
    font-family: 'kanit', sans-serif;
    text-align: center;
    font-weight: 900;
}

.card-total {
    border: black solid 2px;
    padding: 0 5px;
    background-color: beige;
}

.card {
    background-color: beige;
    width: 125px;
    height: 200px;
    border: black 4px solid;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-number {
    font-family: 'arimo', sans-serif;
    font-size: 200%;
    font-weight: 900;
}

#below-game-area {
    display: flex;
}

#button-area {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}